[package]
name = "server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
subd-db = { path = "crates/subd-db" }
subd-gh = { path = "crates/subd-gh" }
subd-twitch = { path = "crates/subd-twitch" }
subd-types = { path = "crates/subd-types" }
subd-macros = { path = "crates/subd-macros" }
twitch_chat = { path = "crates/twitch_chat" }
events = { path = "crates/events" }

# Twitch Deps
twitch-irc.workspace = true
twitch_api2.workspace = true

anyhow.workspace = true
once_cell.workspace = true
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sqlx.workspace = true
tokio.workspace = true
tungstenite.workspace = true
uuid.workspace = true

axum = "0.5.4"
futures = "0.3.21"
tokio-tungstenite = { version = "0.17.1", features = [ "native-tls" ] }
obws = "0.10"
either = "1.6.1"
rodio = { git = "https://github.com/RustAudio/rodio", rev = "55d957f", default-features = false, features = [ "symphonia-all" ] }
clap = { version = "3.2.6", features = ["derive"] }
ytextract = "0.11.0"
# youtube_dl = { version = "0.7.0", default-features = false, features = [ "yt-dlp" ] }
youtube_dl = { git = "https://github.com/twiclo/youtube-dl-rs", rev = "dbb9a878208175dee95533a6d2bd02344b8094bf", default-features = false, features = [ "yt-dlp" ] }
psl = "2.0.89"
dotenv.workspace = true
rustrict = { version = "0.4.18", features = [ "customize" ] }

# iter-skak = "0.1.0"

# Tracing related crates
tracing.workspace = true
tracing-subscriber.workspace = true
rand = "0.8.5"
async-trait.workspace = true

[workspace]
members = ["crates/*"]

[workspace.dependencies]

anyhow = "1.0.57"
async-trait = "0.1.57"
chrono = { version = "0.4.19", features = [ "serde" ] }
dotenv = "0.15.0"
once_cell = "1.13.0"
reqwest = "0.11.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.79"
sqlx = { version = "0.6", features = [ "runtime-tokio-rustls", "postgres", "uuid"] }
tokio = { version = "1.18", features = [ "macros", "rt" ] }
tracing = "0.1"
tracing-subscriber = "0.2"
tungstenite = { version = "0.17.2", features = [ "native-tls" ] }
uuid = { version = "1.0.0", features = [ "v4", "serde" ] }

twitch-irc = { version = "4.0.0", default-features = false, features = [
    "with-serde",
    "refreshing-token-rustls-native-roots",
    "transport-tcp-rustls-native-roots"
] }
twitch_api2 = { version = "0.6.1", features = [ "helix", "twitch_oauth2", "reqwest", "pubsub" ]}

[profile.dev.package.sqlx-macros]
opt-level = 3

[lib]
path = "src/lib.rs"
