[package]
name = "server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
subd-db = { path = "crates/subd-db" }
subd-gh = { path = "crates/subd-gh" }
subd-twitch = { path = "crates/subd-twitch" }
subd-types = { path = "crates/subd-types" }
subd-macros = { path = "crates/subd-macros" }
twitch_chat = { path = "crates/twitch_chat" }
twitch_service = { path = "crates/twitch_service" }
twitch_notifications = { path = "crates/twitch_notifications" }
user_service = { path = "crates/user_service" }
events = { path = "crates/events" }
stable_diffusion = { path = "crates/stable_diffusion" }

# Twitch Deps
twitch-irc.workspace = true

anyhow.workspace = true
once_cell.workspace = true
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sqlx.workspace = true
tokio.workspace = true
tungstenite.workspace = true
tokio-tungstenite.workspace = true
uuid.workspace = true

csv = "1.1"
chrono = "*"
rgb = "0.8"
axum = "0.5.4"
futures = "0.3.21"
obws = "0.10"
either = "1.6.1"
rodio = { git = "https://github.com/RustAudio/rodio", rev = "55d957f", default-features = false, features = [ "symphonia-all" ] }
clap = { version = "4.4.11", features = ["derive"] }
ytextract = "0.11.0"
# youtube_dl = { version = "0.7.0", default-features = false, features = [ "yt-dlp" ] }
youtube_dl = { git = "https://github.com/twiclo/youtube-dl-rs", rev = "dbb9a878208175dee95533a6d2bd02344b8094bf", default-features = false, features = [ "yt-dlp" ] }
psl = "2.0.89"
dotenv.workspace = true
rustrict = { version = "0.4.18", features = [ "customize" ] }

# iter-skak = "0.1.0"

# Tracing related crates
tracing.workspace = true
tracing-subscriber.workspace = true
rand = "0.8.5"
async-trait.workspace = true
twitter-v2 = "0.1.8"
renet = "0.0.12"
stdio-override = "0.1.3"
elevenlabs-api = "0.1.1"
# elevenlabs-api = { path = "../elevenlabs-api" }
libc = "0.2.150"
futures-util = "0.3.29"
actix = "0.13.1"
warp = "0.3.6"
# openai = "1.0.0-alpha.13"
openai = { path = "../openai" }
twitch_api = "0.7.0-rc.7"
twitch_oauth2 = "0.12.7"
askama = "0.12.1"
base64 = "0.21.5"
bigdecimal = "0.4.2"
use = "0.0.1-pre.0"
num-bigint = "0.4.4"
num-traits = "0.2.17"
serde_repr = "0.1.18"
strum = { version = "0.25.0", features = ["strum_macros", "derive"] }
case = "1.0.0"
convert_case = "0.6.0"
serde_with = { features = ["macros"], version = "3.4.0"}
nannou = "0.19.0"

[workspace]
members = ["crates/*"]

[workspace.dependencies]

anyhow = "1.0.57"
async-trait = "0.1.57"
chrono = { version = "0.4.19", features = [ "serde" ] }
dotenv = "0.15.0"
futures = "0.3.21"
once_cell = "1.13.0"
reqwest = { version = "0.11.11", features = ["stream","multipart","json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.79"
sqlx = { version = "0.6", features = [ "runtime-tokio-rustls", "postgres", "uuid", "time", "bigdecimal"] }
tracing = "0.1"
tracing-subscriber = "0.3"
uuid = { version = "1.0.0", features = [ "v4", "serde" ] }

tokio = { version = "1.18", features = [ "macros", "rt" ] }
tungstenite = { version = "0.17.2", features = [ "native-tls" ] }
tokio-tungstenite = { version = "0.17.1", features = [ "native-tls" ] }

twitch-irc = { version = "4.0.0", default-features = false, features = [
    "with-serde",
    "refreshing-token-rustls-native-roots",
    "transport-tcp-rustls-native-roots"
] }
twitch_api2 = { version = "0.6.1", features = [ "helix", "twitch_oauth2", "reqwest", "pubsub", "tmi" ]}

[lib]
path = "src/lib.rs"

