[package]
name = "server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
subd-db = { path = "crates/subd-db" }
subd-gh = { path = "crates/subd-gh" }
subd-twitch = { path = "crates/subd-twitch" }
subd-types = { path = "crates/subd-types" }


# Twitch Deps
twitch_api2 = { version = "0.6.1", features = [ "helix", "twitch_oauth2", "reqwest", "pubsub" ]}
twitch-irc = { version = "4.0.0", default-features = false, features = [
    "with-serde",
    "refreshing-token-rustls-native-roots",
    "transport-tcp-rustls-native-roots"
] }

anyhow = "1.0.57"
axum = "0.5.4"
chrono = { version = "0.4.19", features = [ "serde" ] }
futures = "0.3.21"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.79"
sqlx = { version = "0.5", features = [ "runtime-tokio-rustls", "sqlite" ] }
tokio = { version = "1.18", features = [ "macros", "rt" ] }
tungstenite = { version = "0.17.2", features = [ "native-tls" ] }
tokio-tungstenite = { version = "0.17.1", features = [ "native-tls" ] }
reqwest = "0.11.10"
obws = "0.9.1"
either = "1.6.1"
iter-skak = "0.1.0"
rodio = { git = "https://github.com/RustAudio/rodio", rev = "55d957f", default-features = false, features = [ "symphonia-all" ] }
clap = { version = "3.2.6", features = ["derive"] }
ytextract = "0.11.0"
# youtube_dl = { version = "0.7.0", default-features = false, features = [ "yt-dlp" ] }
youtube_dl = { git = "https://github.com/twiclo/youtube-dl-rs", rev = "dbb9a878208175dee95533a6d2bd02344b8094bf", default-features = false, features = [ "yt-dlp" ] }
psl = "2.0.89"
once_cell = "1.13.0"

[workspace]
members = ["crates/*"]

[profile.dev.package.sqlx-macros]
opt-level = 3

[lib]
path = "src/lib.rs"
