body {
    font-family: 'Lobster', cursive;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
    margin: 0;
}

header {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #feb47b;
    animation: headerAnimation 3s infinite alternate;
}

.header a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.header a:hover {
    color: #ff7e5f;
    text-shadow: 2px 2px 5px #333;
}

.nav-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #ff7e5f;
}

.nav-link {
    color: #fff;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #feb47b;
    transform: scale(1.1);
    border-bottom: 2px solid #fff;
}

.unplayed_songs {
    padding: 20px;
    animation: fadeIn 2s;
}

.unplayed_song > a {
    display: block;
    color: #ff7e5f;
    border: 1px solid #ff7e5f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.5s, background-color 0.5s;
}

.unplayed_song > a:hover {
    background-color: rgba(255, 126, 95, 0.2);
    transform: rotate(5deg);
}

.current-song {
    margin: 50px auto;
    max-width: 90%;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.current-song-info {
    text-align: center;
}

.song_id a {
    text-decoration: none;
    color: #ff7e5f;
}

.song_id a:hover {
    text-shadow: 1px 1px 3px #feb47b;
}

.image_scores, .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.video, .ai_song_image {
    overflow: hidden;
    transition: transform 0.3s ease;
}

.video:hover, .ai_song_image:hover {
    transform: scale(1.1);
}

@keyframes headerAnimation {
    from {transform: translateY(0);}
    to {transform: translateY(10px);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}