@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #ffefba, #ffffff);
    margin: 0;
    scroll-behavior: smooth;
    overflow-anchor: none;
}

.header-container {
    background-color: rgba(255, 209, 102, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
}

.header a {
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px #ff9a00;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    transition: color 0.3s ease-in-out;
}

.header a:hover {
    color: #ff5722;
    transform: rotate(5deg);
}

.sub-header {
    font-size: 1.2em;
    color: #444;
    margin-top: -10px;
    mix-blend-mode: difference;
}

.nav-container {
    display: flex;
    justify-content: center;
    background: #ffcc80;
    padding: 10px;
    border-bottom: 2px solid #ffa726;
}

.nav-link {
    font-weight: bold;
    color: #bf360c;
    margin: 0 15px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-out;
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #ff6e40;
    transform: scaleX(1);
    bottom: -3px;
    left: 0;
}

.nav-link:hover {
    color: #bf360c;
    transform: rotate(-3deg);
}

.unplayed_songs {
    margin: 20px 0;
    padding: 20px;
    background: #ffe0b2c4;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.unplayed_song a {
    font-size: 1.2em;
    color: #e65100;
    display: block;
    margin: 10px 0;
    transition: transform 0.3s, background 0.3s;
}

.unplayed_song a:hover {
    transform: scale(1.05);
    background: #ffcc80;
    padding: 5px;
    border-radius: 5px;
}

.current-song {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    background: #fff3e0;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.current-song-info {
    padding: 15px;
}

.title {
    font-size: 2em;
    color: #d84315;
    margin-bottom: 5px;
}

.image_scores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.ai_song_image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ai_song_image img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video {
    position: relative;
    transform: perspective(1000px) rotateY(15deg);
    transition: transform 0.3s;
}

.video:hover {
    transform: perspective(1000px) rotateY(0deg);
}

.video video {
    width: 100%;
    border-radius: 10px;
}

.lyrics {
    padding: 15px;
    font-style: italic;
    color: #5d4037;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.song {
    background-color: #ffe0b2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease-in-out;
}

.song:hover {
    transform: translateY(-10px);
    background-color: #ffcc80;
}

.song a {
    color: #ff6f00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.song a:hover {
    color: #ff6d00;
}

.users-container {
    margin: 20px 10px;
}

.user-link a {
    color: #bf360c;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.user-link a:hover {
    color: #ff5722;
}

.charts-container {
    padding: 20px;
}

.chart-container {
    padding: 15px;
    margin: 20px 0;
    background: #ffe0b2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
}

.chart-container:hover {
    background: #ffcc80;
    transform: scale(1.05);
}