body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    animation: background-animate 10s infinite alternate-reverse;
}

header {
    background: #4A00E0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: white;
    text-align: center;
    padding: 50px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header a {
    color: white;
    text-decoration: none;
    transition: transform 0.5s, color 0.5s;
}

.header a:hover {
    transform: scale(1.1) rotate(360deg);
    color: #FFD700;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.nav-link {
    color: #333;
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
    color: #4A00E0;
    border-bottom: 2px solid #4A00E0;
}

.unplayed_songs {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.unplayed_song {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
}

.unplayed_song:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.unplayed_song a {
    text-decoration: none;
    color: #4A00E0;
    font-weight: bold;
    transition: color 0.3s;
}

.unplayed_song a:hover {
    color: #8E2DE2;
}

.current-song {
    padding: 20px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
}

.current-song-info {
    flex: 1 1 100%;
    margin: 20px;
}

.image_scores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.ai_song_image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 8px;
    cursor: pointer;
}

.ai_song_image img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.video video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.video:hover video {
    transform: scale(1.05);
}

.lyrics {
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #777;
}

.users-container {
    padding: 20px;
    background-color: #e0e7ff;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 20px;
}

.username a {
    font-size: 1.5em;
    color: #4A00E0;
    text-decoration: none;
    transition: color 0.3s;
}

.username a:hover {
    color: #8E2DE2;
}

.songs-container {
    padding: 20px;
    background-color: #fbf4ff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    border-radius: 10px;
}

.song-container {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.song-container:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.song-link a {
    text-decoration: none;
    color: #8E2DE2;
    font-weight: bold;
    transition: color 0.3s;
}

.song-link a:hover {
    color: #4A00E0;
}

@keyframes background-animate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}