@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@300;500&family=Bangers&display=swap');

body {
    display: grid;
    grid-template-areas:
        'header header'
        'nav nav'
        'main main';
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    scroll-behavior: smooth;
}

header {
    grid-area: header;
    padding: 20px;
    text-align: center;
    background: conic-gradient(from 90deg at top, #3a1c71, #d76d77, #ffaf7b);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-variant: small-caps;
}

nav {
    grid-area: nav;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    animation: slide-in 1s ease-out;
}

nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease;
    display: inline-block;
    padding: 10px 20px;
}

nav a:hover {
    color: #f0f0f0;
    transform: scale(1.1) rotate(360deg);
    background-clip: text;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.4);
    mix-blend-mode: screen;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #ff6347;
    text-shadow: 2px 2px #800000;
    font-family: 'Bangers', cursive;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #4682b4;
    text-shadow: 1px 1px #888;
}

h3, h4 {
    color: #7f8c8d;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #005999;
    animation: pulse 1s infinite;
    padding: 2px 4px;
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.unplayed_song:hover {
    background-color: #f8f8f8;
    transform: translateY(-3px);
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.song {
    padding: 10px;
    border: 2px solid #3498db;
    box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s, border-color 0.3s;
}

img, video {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

video {
    aspect-ratio: 16/9;
}

audio {
    width: 100%;
    border-radius: 5px;
}

audio:hover {
    background: #3498db;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

@keyframes slide-in {
    from {opacity: 0; transform: translateX(-100%);}
    to {opacity: 1; transform: translateX(0);}
}

@keyframes pulse {
    0% {box-shadow: 0 0 10px rgba(255, 105, 135, 0.8);}
    50% {box-shadow: 0 0 20px rgba(255, 105, 135, 0.4);}
    100% {box-shadow: 0 0 10px rgba(255, 105, 135, 0.8);}
}