/* Overall Layout */
body {
  font-family: Tahoma, Arial, sans-serif;
  background-image: url('myspace_bg.jpg');
  background-color: #E9EFFF;
  color: #000;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #3B5998;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header {
  font-size: 3em;
}

.sub-header {
  margin: 5px 0;
  font-size: 1.2em;
}

.nav-container {
  background-color: #627AAC;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.nav-link {
  color: #fff;
  padding: 0 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
}

.song {
  background-color: #F2F2F2;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.username {
  font-weight: bold;
}

.title {
  color: #3B5998;
  margin: 10px 0;
}
