@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-anchor: none;
    perspective: 1000px;
}

/* Header Styles */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    color: white;
    border-bottom: 1px solid #ccc;
}

.header a {
    margin: 0;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    text-decoration: none;
    font-size: 2.5rem;
    transition: color 0.3s ease, transform 0.3s;
}

.header a:hover {
    color: #e63946;
    transform: translateY(-10px) rotate(360deg);
    animation-duration: 0.5s;
}

.sub-header {
    font-size: 1.3rem;
    color: #666;
}

/* Navigation Styles */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(90deg, #e63946, #f1faee, #a8dadc, #457b9d);
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s;
    mix-blend-mode: multiply;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: height 0.3s;
}

.nav-link:hover::before {
    height: 100%;
}

.nav-link:hover {
    color: #1d3557;
}

/* Unplayed Songs */
.unplayed_songs {
    padding: 2rem 1rem;
    margin-top: 1rem;
    background-color: hsla(200, 50%, 70%, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
}

.unplayed_song a {
    display: block;
    margin: 0.5rem 0;
    color: #457b9d;
    font-size: 1.1rem;
    font-weight: 700;
    transition: transform 0.3s, color 0.3s ease;
}

.unplayed_song a:hover {
    color: #e63946;
    transform: translateX(10px) rotate(4deg);
}

/* Current Song / Song Grid */
.current-song, .songs-container {
    padding: 1rem 0;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
}

.grid-container, .songs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    animation: slidein 0.5s ease-out;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.song {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.song:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.song audio {
    width: 100%;
    margin-top: 0.5rem;
}

img, video {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.2s;
}

img:hover, video:hover {
    transform: scale(1.05);
}

.video:after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}

.video video, .image_voting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image_scores, .lyrics {
    margin-top: 1rem;
}

.image_votes, .total_votes {
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.video {
    max-width: 300px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-clip: padding-box;
    pointer-events: none;
    filter: grayscale(50%);
}

.video video {
    pointer-events: auto;
}

.video:hover {
    pointer-events: auto !important;
    filter: grayscale(0%);
}

.ai_song_image, .video {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.title {
    font-variant: small-caps;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}