/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to right, #e66465, #9198e5);
    text-align: center;
}

.header-container {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: white;
    border-bottom: 4px solid #834d9b;
    padding: 2rem;
}

.header {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
    animation: headerFadeIn 3s;
}

.sub-header {
    font-size: 1.2rem;
    color: #F8D800;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #302b63;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #00F260;
    text-shadow: 1px 1px 1px #000000;
}

.unplayed_songs {
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
    margin: 0 2rem;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(154, 160, 185, 0.5);
}

.unplayed_song {
    margin: 1rem 0;
}

.unplayed_song a {
    color: #3b8d99;
    text-decoration: none;
    display: block;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    transition: transform 0.3s, border 0.2s;
}

.unplayed_song a:hover {
    transform: scale(1.05);
    border-left: 4px solid #3b8d99;
}

.current-song-info {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.current-song-info h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.current-song-info div {
    margin-bottom: 0.5rem;
}

.current-song-info a {
    color: #4b79a1;
    text-decoration: underline;
}

.image_scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 2rem;
}

.videos, .lyrics {
    background: rgba(236, 240, 241, 0.8);
    padding: 1.5rem;
    border-radius: 10px;
}

.lyrics {
    overflow: hidden;
    text-align: left;
    line-height: 1.8;
    word-wrap: break-word;
}

/* Keyframes Animation */
@keyframes headerFadeIn {
    from { opacity: 0; transform: translateY(-20px) }
    to { opacity: 1; transform: translateY(0) }
}