/* Importing unique fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Rampart+One&family=Roboto+Mono:wght@100&display=swap');

/* Global styles */
body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header a {
    font-family: 'Rampart One', cursive;
    font-size: 2.5em;
    color: #ff79c6;
    text-shadow: 2px 2px #f81ce5;
    transition: transform 0.3s ease-in-out;
}

.header a:hover {
    transform: rotate(360deg);
    color: #50fa7b;
}

nav {
    background: rgba(255, 255, 255, 0.9);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-link {
    color: #6272a4;
    font-weight: bold;
    font-family: 'Comic Neue', cursive;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.5s, transform 0.5s;
}

.nav-link:hover {
    background-color: #50fa7b;
    transform: scale(1.1);
    border-radius: 10px;
    text-shadow: 1px 1px #f8f8f2;
}

.unplayed_songs, .current-song {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.unplayed_song a {
    display: block;
    color: #ff5555;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.unplayed_song a:hover {
    color: #8be9fd;
    font-weight: bold;
}

.current-song-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.image_scores, .videos {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.ai_song_image img, .video video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.image_votes, .image_voting {
    margin-top: 5px;
    text-align: right;
    font-style: italic;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.song {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.song:hover {
    transform: translateY(-10px);
}

.song a {
    color: #ff79c6;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
    nav {
        grid-template-columns: 1fr 1fr;
    }

    .current-song-info {
        grid-template-columns: 1fr;
    }
}