@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    color: #333;
}

.header-container {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ecf0f1;
    animation: fadeInDown 2s;
}

.header a {
    text-decoration: none;
    color: #1abc9c;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-header {
    font-weight: 300;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #34495e;
    padding: 10px;
}

.nav-link {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    position: relative;
}

.nav-link:hover {
    color: #3498db;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.unplayed_songs {
    padding: 40px;
    background: conic-gradient(from 180deg, #dfe6e9, #fff, #dfe6e9);
    border-top: 1px solid #bdc3c7;
}

.unplayed_song {
    margin: 20px 0;
    border: 2px dashed #95a5a6;
    padding: 15px;
    animation: fadeInUp 1s;
}

.unplayed_song a {
    font-size: 1.2em;
    color: #e74c3c;
    text-decoration: none;
    word-wrap: break-word;
}

.unplayed_song a:hover {
    color: #c0392b;
    mix-blend-mode: screen;
    font-weight: bold;
    transition: color 0.5s;
}

.current-song {
    background-color: #ecf0f1;
    padding: 40px;
}

.current-song-info div {
    margin-bottom: 10px;
}

.current-song-info .title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.current-song-info a {
    text-decoration: none;
    color: #2980b9;
}

.current-song-info a:hover {
    color: #f39c12;
    transform: rotate(5deg);
    transition: transform 0.3s ease, color 0.3s ease;
}

.videos, .lyrics {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding: 1%;
}

.lyrics {
    font-size: 1em;
    line-height: 1.6;
    border-left: 2px solid #bdc3c7;
    padding-left: 20px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}