@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
:root {
    --primary-color: #22c1c3;
    --secondary-color: #fdbb2d;
    --background-color: #282828;
    --text-color: #f6f6f6;
}
body {
    background: radial-gradient(circle, var(--background-color), #1a1a1a);
    color: var(--text-color);
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}
a:hover {
    color: var(--secondary-color);
    transform: rotate(20deg) scale(1.2);
}
.header-container {
    background: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.nav-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px 0;
    background: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.nav-link {
    font-family: 'Bungee Hairline', cursive;
    font-size: 18px;
    color: white;
    transition: all 0.5s;
    isolation: isolate;
}
.nav-link:hover {
    color: black;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    filter: blur(0.5px);
}
.unplayed_songs, .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.unplayed_song, .song {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.unplayed_song:hover, .song:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.current-song-info {
    background: conic-gradient(from 180deg at 50% 50%, #22c1c3, #fdbb2d, #22c1c3);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
}
.image_scores img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.6s;
    width: 100%;
    cursor: pointer;
}
.image_scores img:hover {
    transform: scale(1.05) rotate(5deg);
}
.video video {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.user-link, .chart-container .song-link {
    font-size: 16px;
    transition: color 0.3s, transform 0.3s;
}
.user-link:hover, .chart-container .song-link:hover {
    color: var(--secondary-color);
    transform: translateX(10px);
}