/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #ff6f00, #ffca28);
    color: #212121;
    line-height: 1.6;
    padding: 20px;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #0d47a1;
    transition: all 0.3s ease;
    will-change: transform, background-color;
}

a:hover {
    color: #ff6f00;
    transform: rotate(360deg);
    background-color: #ffee58;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.header-container {
    text-align: center;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in;
}

.header a {
    font-size: 2em;
    font-weight: bold;
    mix-blend-mode: difference;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
}

.nav-link {
    padding: 10px;
    border-radius: 5px;
    transition: background 0.5s;
}

.nav-link:hover {
    background-color: #ffca28;
}

.unplayed_songs, .current-song {
    margin: 20px 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: slideIn 1s ease-out;
}

.unplayed_song, .current-song-info, .image_scores {
    margin-bottom: 10px;
}

.unplayed_song a {
    display: block;
    padding: 5px;
    background-color: #fbc02d;
    color: #212121;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.unplayed_song a:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
    transition: transform 0.5s;
}

.song {
    background-color: #fff8e1;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #f57f17;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    break-inside: avoid;
}

.song:hover {
    transform: translateY(-5px);
}

.video {
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.users-container, .charts-container {
    margin-top: 30px;
    padding: 10px;
    background: conic-gradient(from 180deg at 50% 50%, #ffcc80, #fff3e0);
    border-radius: 10px;
}

.user, .chart-container {
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff96;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chart-container .title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.user-link a:hover, .song-link a:hover {
    color: #212121;
    background-color: #ffe082;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideIn {
    0% {transform: translateY(100px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}