/* Basic page styling, layout and responsive design */
body {
    background-color: #1a1a1a;
    color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #262626;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #53a0fd;
}
h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #444;
}

h2, h3, h4 {
    color: #53a0fd;
    text-shadow: 2px 2px #333;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 4px 2px -2px gray;
}

.nav-link {
    color: #eaeaea;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #53a0fd;
    transform: scale(1.05) rotate(5deg);
}

.unplayed_songs, .songs, .users-container, .charts-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    color: #fff;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.unplayed_song a {
    color: #53a0fd;
    font-weight: bold;
    text-decoration: none;
}

.unplayed_song a:hover {
    color: #fff;
    background-color: #53a0fd33;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.3s;
}

/* Image and video section styling */
.ai_song_image, .video {
    position: relative;
    width: calc(33.333% - 10px);
    margin: 5px;
    display: inline-block;
}

.ai_song_image img, .video video {
    width: 100%;
    height: auto;
    border: 5px solid #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.ai_song_image img:hover, .video video:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Song and user list tiles with grid display */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.song, .user {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.song:hover, .user:hover {
    transform: translateY(-10px) rotate(-2deg);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.song .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #53a0fd;
}

.song_link a, .user-link a {
    color: #53a0fd;
    text-decoration: none;
}

.song_link a:hover, .user-link a:hover {
    color: #fff;
    transition: color 0.2s ease-in-out, transform 0.2s ease;
    transform: scale(1.05);
}

.chart-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg, #252525, #323232);
    padding: 15px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #1b1b1b, -4px -4px 8px #494949;
    transition: transform 0.3s, box-shadow 0.3s;
}

.chart-container:hover {
    transform: scale(1.02) translateY(-10px);
    box-shadow: 6px 6px 12px #1a1a1a, -6px -6px 12px #4a4a4a;
}

.chart-container .title {
    font-size: 20px;
    font-weight: 600;
    color: #1c8ef9;
    margin: 5px 0;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-top: 3px solid #53a0fd;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
}

.link:hover {
  animation: pulse 1s infinite;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap');