/* General Style Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/* Importing Bold Mixed Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    background: linear-gradient(to bottom right, #f6f8fe, #eef2f3);
    overflow-anchor: none;
    font-variant: small-caps;
}

::selection {
    background-color: #ffdd57;
    color: #112d4e;
}

/* Header Styling */
.header-container {
    background-color: #3f72af;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    background-image: url('/images/stars_bg.png');
    background-blend-mode: soft-light;
    filter: drop-shadow(2px 4px 6px black);
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header a:hover {
    animation: rotate360 1s ease-out;
    color: #ffdd57;
}

@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.sub-header {
    font-style: italic;
}

/* Navigation Links */
.nav-container {
    display: flex;
    justify-content: center;
    background-color: #112d4e;
    padding: 0.5rem;
}

.nav-link {
    color: #ffdd57;
    font-weight: bold;
    margin: 0 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    position: relative;
}

.nav-link:hover {
    color: #dbe2ef;
    text-shadow: 0 0 4px #ffdd57;
    transform: translateY(-5px);
}

.section {
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.current-song-info {
    display: grid;
    grid-template-areas: 
    'title title'
    'creator score'
    'songid votes';
    gap: 1rem;
}

.title {
    grid-area: title;
    font-size: 1.5rem;
    color: #3f72af;
}

.creator, .average_score, .total_votes {
    font-style: italic;
    opacity: 0.9;
}

.song_id a, .song_link a, .user-link a {
    color: #3f72af;
}

.song_id a:hover, .song_link a:hover, .user-link a:hover {
    color: #ff5722;
    font-weight: 700;
    mix-blend-mode: multiply;
    filter: brightness(1.2);
}

.video {
    clip-path: polygon(10% 0, 90% 0, 100% 90%, 0 90%);
    border: 2px solid #3f72af;
    margin: 1rem 0;
    overflow: hidden;
    transition: transform 0.5s ease-out;
    background: #eef2f3;
}

.video:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 1px 4px #3f72af);
}

.ai_song_image {
    border: 4px double #3f72af;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    transition: all 0.5s ease;
}

.ai_song_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.ai_song_image:hover img {
    transform: rotateY(360deg);
}

.chart-container, .user, .song {
    padding: 1rem;
    backdrop-filter: blur(8px);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.chart-container:hover, .user:hover, .song:hover {
    transform: translateY(-5px);
   
    filter: brightness(1.05);
    z-index: 10;
}

audio {
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #3f72af;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #112d4e;
    color: #ffffff;
}

.footer-text {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

/* Responsive Behavior */
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    .header-container, .nav-container, .section {
        padding: 1rem;
    }
}