/* Import fun and unique fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@700&family=Merriweather:ital,wght@1,900&display=swap');

body {
    font-family: 'Merriweather', serif;
    background: radial-gradient(circle, #ffefba, #ffffff);
    color: #333;
    line-height: 1.6;
    animation: colorChange 10s infinite;
}

.header-container {
    background: #ff6f61;
    text-align: center;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.header-container:hover {
    transform: translateY(0);
}

.header a {
    font-family: 'Bungee', cursive;
    font-size: 3em;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link {
    display: inline-block;
    margin: 0 15px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
    position: relative;
    transition: all 0.4s ease;
    font-family: 'Dancing Script', cursive;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6f61;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover {
    color: #ff6f61;
    transform: rotate(360deg);
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ff6f61;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 250, 250, 0.7);
}

.song-title a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.song-title a:hover {
    color: #ff6f61;
    text-shadow: 2px 2px 5px rgba(255, 111, 97, 0.5);
    mix-blend-mode: multiply;
}

.song {
    display: grid;
    grid-template-areas: 'title audio' 'description description';
    grid-gap: 10px;
    align-items: center;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in;
}

.song-title {
    grid-area: title;
}

.song-audio {
    grid-area: audio;
    filter: drop-shadow(2px 4px 6px black);
}

.song-description {
    grid-area: description;
    font-style: italic;
    transform: perspective(600px) rotateY(10deg);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes colorChange {
    0% { background-color: #ffefba; }
    50% { background-color: #ffffff; }
    100% { background-color: #ffefba; }
}