/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&family=Shadows+Into+Light&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Document */
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #282a36;
  color: #f8f8f2;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Header styles */
.header-container {
  background-color: #44475a;
  padding: 20px;
  text-align: center;
}

.header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  color: #50fa7b;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.sub-header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #bd93f9;
}

/* Navigation styles */
.nav-container {
  background-color: #6272a4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 10px;
}

.nav-link {