/* Global styles */
body {
  font-family: 'Exo', sans-serif;
  background: linear-gradient(145deg, #d4fc79 0%, #96e6a1 100%);
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Typography & Text Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-shadow: 2px 2px 4px #333;
}

h2 {
  text-shadow: 1px 1px 2px #666;
}

.header-container, .nav-container {
  background: conic-gradient(from 180deg at 50% 50%, #ff9a9e, #fad0c4);
  padding: 10px 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Animation and hover effects */
a {
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
  transform: rotate(-5deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #000;
}

/* Section Styles */
.section {
  padding: 20px;
  margin: 10px auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.current-song {
  display: grid;
  grid-template-areas: 'info media';
  grid-gap: 20px;
  align-content: start;
}

.current-song-info {
  grid-area: info;
  animation: fadeIn 1s ease-in-out;
}

.image_scores {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.ai_song_image {
  width: 48%;
  border-radius: 15px;
  overflow: hidden;
}

.image_voting, .image_votes {
  text-align: center;
}

/* User & Chart Styles */
.users-container, .charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.user, .chart-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.user:hover, .chart-container:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Video Styles */
.video {
  position: relative;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

video {
  width: 100%;
  height: auto;
}

/* Keyframes for animations */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&family=Oswald:wght@300;400;500&display=swap');