@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto+Mono:400,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #1c1c1c;
  color: #eaeaea;
}

.header-container {
  text-align: center;
  animation: slideDown 3s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #ff2e88;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.sub-header {
  font-size: 1.5rem;
  margin: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #76d7c4;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ff2e88;
}

.unplayed_songs, .current-song {
  padding: 20px;
}

.unplayed_song {
  margin: 10px 0;
}

.unplayed_song a {
  text-decoration: none;
  color: #76d7c4;
  transition: color 0.3s ease-in-out;
}

.unplayed_song a:hover {
  color: #ff2e88;
}

.current-song-info {
  background-color: #333;
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #76d7c4;
}

.title {
  font-size: 1.8rem;
  margin-top: 10px;
}

.tags, .creator, .song_id, .average_score, .total_votes {
  margin: 5px 0;
}

.image_scores {
  display: flex;
}

.videos, .lyrics {
  flex: 1;
  padding: 10px;
}

.lyrics {
  white-space: pre-wrap;
}
