@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(145deg, #2D2E32, #1C1D20);
    color: #fff;
    animation: backgroundAnimation 10s infinite alternate;
    overflow-x: hidden;
}

.header-container {
    text-align: center;
    padding: 50px 0;
    background: #202124;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    font-variant: small-caps;
}

.header a {
    color: #ff4081;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 3rem;
}

.header a:hover {
    color: #00BCD4;
    transform: scale(1.1) rotate(3deg);
}

.sub-header {
    color: #B0BEC5;
    font-style: italic;
    font-size: 1.2rem;
}

.nav-container {
    display: flex;
    justify-content: center;
    background: #17181B;
    padding: 10px 0;
    gap: 20px;
    position: sticky;
    top: 0;
    backface-visibility: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #80CBC4;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #FF7043;
    border-bottom: 2px solid #FF7043;
    mix-blend-mode: multiply;
}

.unplayed_songs, .current-song {
    padding: 20px;
    margin: 20px auto;
    background: #2C2F34;
    border-radius: 12px;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.unplayed_song a {
    display: block;
    color: #EDE7F6;
    text-decoration: none;
    padding: 8px;
    background: #263238;
    margin-bottom: 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.unplayed_song a:hover {
    color: #FFCC80;
    background: #37474F;
    transform: translateX(10px);
}

.current-song-info {
    display: grid;
    grid-template-areas:
        'title title'
        'creator average_score'
        'song_id total_votes';
    gap: 10px;
    padding: 10px;
    background: conic-gradient(from 180deg at 50% 50%, #1E2126 0%, #373A3E 100%);
}

.current-song-info .title {
    grid-area: title;
    font-size: 2rem;
    color: #FFAB40;
}

.current-song-info .creator, .average_score, .song_id, .total_votes {
    font-size: 1rem;
    color: #CFD8DC;
}

.song_id a {
    color: #FB8C00;
    text-decoration: underlined;
    transition: transform 0.3s ease;
}

.song_id a:hover {
    transform: rotate(360deg);
}

.image_scores h4, .videos h4 {
    margin-top: 20px;
    text-align: center;
}

.ai_song_image img {
    width: 100px;
    height: auto;
    filter: drop-shadow(0 0 5px #000);
    transition: all 0.3s ease;
}

.ai_song_image img:hover {
    transform: scale(1.1) rotate(-5deg);
    filter: drop-shadow(0 0 20px #FFF);
}

.video video {
    width: 100%;
    border: 3px solid #37474F;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.users-container, .charts-container {
    padding: 20px;
    margin: 20px auto;
    background: #2E3135;
    border-radius: 15px;
    max-width: 1200px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.user a, .chart-container .song-link a {
    color: #E0F7FA;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

.user a:hover, .chart-container .song-link a:hover {
    color: #FF5722;
    transform: skewY(-5deg);
}

.avg-score, .total-songs {
    color: #BDBDBD;
}

.chart-container {
    padding: 10px;
    background: radial-gradient(circle, #1C1C1C, #363636);
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #4E4E4E;
}

.chart-container:hover {
    background: radial-gradient(circle, #333F50 0%, #102027 100%);
    transform: translateY(-5px);
    box-shadow: 0px 12px 20px rgba(0,0,0,0.4);
}

@keyframes backgroundAnimation {
   0% { background-position: 0% 50%; }
   100% { background-position: 100% 50%; }
}