/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Universal Styles */
body {
    color: #232323;
    background: radial-gradient(circle at top left, #0f2027, #203a43, #2c5364);
    font-family: 'Orbitron', sans-serif;
    neon: #ff5edf;
    transition: background 0.2s linear;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #04d9ff #333;
}

/* Header Section */
.header-container {
    background-color: #ff5edf;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: fadeInTop 2s ease-in;
}
.header-container h1, h2 {
    color: #ffffff;
    transition: transform 0.5s;
    font-variant: small-caps;
}
.header-container h1:hover {
    transform: scale(1.1);
}

/* Navigation */
.nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    text-align: center;
    background-color: #333;
    padding: 15px 0;
    
}
.nav-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav-link:hover {
    color: #ff5edf;
    text-shadow: 2px 2px #333;
    transform: translateY(-3px);
    font-family: 'Permanent Marker', cursive;
}

/* Songs Section */
.unplayed_songs {
    padding: 20px;
    margin: 20px 0;
    column-count: 3;
    column-gap: 20px;
}
.unplayed_song {
    margin-bottom: 10px;
    break-inside: avoid;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    font-family: 'Permanent Marker', cursive;
}
.unplayed_song a {
    color: #04d9ff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: color 0.3s, transform 0.3s;
}
.unplayed_song a:hover {
    color: #ff5edf;
    transform: scale(1.1) rotate(2deg);
    mix-blend-mode: screen;
}

/* Current Song */
.current-song-info {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    animation: slideInRight 3s;
    
}
.current-song-info h3 {
    text-transform: uppercase;
    color: #ffffff;
}
.current-song-info div {
    margin-bottom: 5px;
    color: #d2d2d2;
}
.current-song-info a {
    color: #ff9d72;
    transition: color 0.3s ease-in-out;
}
.current-song-info a:hover {
    color: #ffffff;
    mix-blend-mode: lighten;
}

/* Images and Voting */
.ai_song_image {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: calc(33% - 20px);
    margin: 10px;
}
.ai_song_image img {
    width: 100%;
    height: auto;
    filter: brightness(0.75) saturate(1.2);
    transition: transform 0.5s, filter 0.5s;
}
.ai_song_image:hover img {
    transform: scale(1.05) rotate(-1deg);
    filter: brightness(1) saturate(1);
}
.image_voting, .image_votes {
    text-align: center;
    margin-top: 10px;
    color: #04d9ff;
}
.image_voting:hover {
    color: #ff5edf;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Videos Section */
.video {
    margin: 10px 0;
    border: 2px solid #04d9ff;
    border-radius: 15px;
    overflow: hidden;
}
.video video {
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
}
.video:hover video {
    transform: scale(1.02);
}

/* Users Section */
.users-container {
    margin-top: 30px;
    padding: 20px;
    background: linear-gradient(135deg, #ff5edf 0%, #04d9ff 100%);
    color: #232323;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.user {
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.user-link a {
    color: #0f2027;
    font-weight: bold;
    transition: color 0.2s ease-in;
}
.user-link a:hover {
    color: #ffffff;
    transform: rotate(5deg);
}

/* Charts Section */
.charts-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #203a43;
    border-radius: 15px;
}
.chart-container {
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s ease;
}
.chart-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.chart-container .song-link a {
    color: #ff5edf;
    transition: color 0.3s ease-in-out;
}
.chart-container .song-link a:hover {
    color: #04d9ff;
    text-decoration: underline;
}

/* Animations */
@keyframes fadeInTop {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes slideInRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}