@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    margin: 0;
    padding: 0;
}

.header-container {
    background: conic-gradient(from 0.25turn at 50% 50%, #76b852, #8DC26F);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, transform 0.3s ease;
}

.sub-header {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-link {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 700;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: #76b852;
    transform: scale(1.1) rotate(360deg);
}

.unplayed-songs, .songs, .users, .top-songs {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song, .unplayed-song, .user, .top-song {
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.2s ease;
}

.song:hover, .unplayed-song:hover, .user:hover, .top-song:hover {
    transform: translateY(-10px);
    background: #f8f8f8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.song-title a {
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.song-title a:hover {
    color: #8DC26F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: rotate(-360deg);
}

.song-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.song-audio audio {
    width: 100%;
    margin-top: 10px;
}

.song-lyrics p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 15px 0;
}

.video {
    border: 3px solid #76b852;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}