body, html {
   margin: 0;
   padding: 0;
   font-family: 'FunkyJawa', sans-serif;
   background-color: #fbe9e7;
   color: #4e342e;
   overflow-x: hidden;
   scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.header-container {
   background: linear-gradient(45deg, #ffccbc, #ff7043);
   text-align: center;
   padding: 20px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header {
   font-family: 'Permanent Marker', cursive;
   font-size: 2.5rem;
   margin: 0;
   color: #bf360c;
   transition: transform 0.8s ease-in-out;
}

.sub-header {
   font-family: 'VT323', monospace;
   font-size: 1.5rem;
   color: #e64a19;
}

.header a:hover {
   color: #d84315;
   transform: rotate(360deg);
}

.nav-container {
   display: flex;
   justify-content: center;
   padding: 10px 0;
   background-color: #5d4037;
}

.nav-link {
   margin: 0 15px;
   font-size: 1.2rem;
   font-family: 'VT323', monospace;
   color: #ffccbc;
   position: relative;
}

.nav-link::after{
   content: '';
   display: block;
   width: 0;
   height: 2px;
   background: #f57c00;
   transition: width .3s;
   position: absolute;
   bottom: 0;
   left: 0;
}

.nav-link:hover {
   animation: nav-pulse 2s infinite;
}

.nav-link:hover::after{
   width: 100%;
}

@keyframes nav-pulse {
   0% { transform: scale(1); }
   50% { transform: scale(1.05); }
   100% { transform: scale(1); }
}

.unplayed_songs {
   padding: 20px;
   background-color: #d7ccc8;
}

.unplayed_song {
   padding: 10px;
   background-color: #ffccbc;
   margin: 10px 0;
   border-radius: 8px;
   transition: background 0.5s;
}

.unplayed_song a {
   text-decoration: none;
   color: #4e342e;
   font-weight: bold;
   transition: color 0.3s;
}

.unplayed_song a:hover {
   color: #d84315;
   background-color: #ffe0b2;
   padding: 5px;
   border-radius: 8px;
   transition: transform 0.8s ease-in-out;
   transform: rotateY(360deg);
}

.current-song-info {
   padding: 20px;
   background-color: #8d6e63;
   color: #bf360c;
   font-family: 'Permanent Marker', cursive;
   transform: perspective(1500px) rotateX(10deg);
   transition: transform 0.3s;  
}

.current-song-info:hover {
   transform: perspective(1500px) rotateX(0deg);
}

.current-song-info .song_id a {
   color: #ff7043;
   font-weight: bold;
}

.image_scores {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   gap: 15px;
   padding: 20px;
   background-color: #d7ccc8;
}

.ai_song_image img {
   width: 100%;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   filter: contrast(90%);
   transition: filter 0.3s ease-in-out;
}

.ai_song_image img:hover {
   filter: contrast(100%);
}

.video video {
   width: 100%;
   transition: transform 0.5s ease;
}

.video video:hover {
   transform: scale(1.1);
}

.song a, .user-link a {
   font-family: 'VT323', monospace;
}

.users-container {
   padding: 20px;
   background-color: #f5f5f5;
}

.user {
   margin-bottom: 20px;
   padding: 15px;
   background-color: #ffe0b2;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s;
}

.user:hover {
   transform: scale(1.05);
}

.charts-container {
   padding: 20px;
   background-color: #e1bee7;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.chart-container {
   background-color: #ce93d8;
   margin: 10px;
   padding: 15px;
   border-radius: 8px;
   width: calc(33% - 40px);
   text-align: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes rotateXPulse {
  0% {transform: rotateX(0);}
  50% {transform: rotateX(360deg);}
  100% {transform: rotateX(0);}
}