/* GLOBAL STYLES */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

/* HEADER STYLES */
.header-container {
    text-align: center;
    padding: 20px;
    color: #fff;
}

.header {
    font-size: 2.5em;
    margin: 0;
    color: #282c34;
    text-shadow: 2px 2px 4px #fda085;
}

.sub-header {
    font-size: 1.2em;
    margin-top: 5px;
    color: #fff;
}

/* NAVIGATION STYLES */
.nav-container {
    display: flex;
    justify-content: center;
    background-color: #282c34;
    padding: 10px 0;
}

.nav-link {
    color: #f6d365;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #fda085;
}

/* SONG LIST STYLES */
.unplayed_songs h2 {
    text-align: center;
    color: #282c34;
    padding: 10px;
}

.unplayed_song {
    padding: 10px;
    text-align: center;
}

.unplayed_song a {
    text-decoration: none;
    color: #333;
    background-color: #f6d365;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.unplayed_song a:hover {
    background-color: #fda085;
    transform: scale(1.05);
}

/* CURRENT SONG STYLES */
.current-song {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.current-song:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.current-song h3 {
    color: #282c34;
    text-align: center;
}

.current-song-info div {
    margin-bottom: 10px;
    text-align: center;
}

.current-song-info a {
    color: #fda085;
    text-decoration: none;
}

.current-song-info a:hover {
    text-decoration: underline;
    color: #f6d365;
}

/* LYRICS SECTION STYLES */
.lyrics {
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    font-style: italic;
}

.videos {
    margin: 10px 0;
}