/* Import Fun and Bold Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@500;900&display=swap');


/* General Settings */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1d;
    color: #c6c6c6;
    margin: 0;
    scroll-behavior: smooth;
}

/* Header */
.header-container {
    background: linear-gradient(45deg, #47476b, #5a5a98);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.header a {
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    transition: color 0.3s ease-in-out;
}
.header a:hover {
    color: #ff6347;
    transform: rotate(360deg);
}

.sub-header {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

/* Navigation */
.nav-container {
    background: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav-link {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s ease;
}

.nav-link:hover {
    background: #555;
    transform: scale(1.2);
}

/* Unplayed Songs */
.unplayed_songs {
    padding: 20px;
    background-color: #232227;
}

.unplayed_song a {
    color: #c6c6c6;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s ease;
}

.unplayed_song a:hover {
    color: #ff9800;
    transform: translateY(-5px);
}

/* Current Song */
.current-song-info {
    background: #2c2c38;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.current-song-info h3 {
    color: #ff9800;
}

.current-song-info .title {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Links with hover animation */
.song_id a, .song_link a {
    color: #007acc;
    text-decoration: none;
    transition: transform 0.5s;
}

.song_id a:hover, .song_link a:hover {
    color: #30b3ff;
    font-weight: bold;
    transform: rotate(-360deg);
}

/* Images and video styling */
.ai_song_image img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.ai_song_image img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.video video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* Lyrics Section */
.lyrics {
    font-style: italic;
    padding-top: 20px;
    color: #aaa;
}

/* Song Section */
.song {
    margin: 15px;
    padding: 10px;
    background: linear-gradient(145deg, #38384D, #4E4E6B);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.song:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

.title {
    font-size: 1.8em;
    color: #e7e7e7;
}

/* User Section */
.user {
    margin: 15px;
    padding: 10px;
    background: #3c3f58;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s;
}
.user:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.6);
}

.user-link a {
    color: #ff9800;
    font-size: 1.2em;
}

/* Chart Section */
.charts-container {
    background: #1d1d26;
    padding: 20px;
    margin: 20px 0;
}

.chart-container {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    background: #30304e;
    transition: transform 0.3s;
}

.chart-container:hover {
    transform: scale(1.02);
}

.title {
    color: #f3f3f3;
    font-weight: bold;
}

.song-link a {
    color: #61dafb;
    font-weight: bold;
    transition: color 0.3s;
}

.song-link a:hover {
    color: #3182ce;
}