/* Save this as styles.css */

/* Importing Unique Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300;400;700&display=swap');

/* Global Styles */
body {
    background: linear-gradient(135deg, #f5fed9, #00c9ff, #92fe9d);
    font-family: 'Luckiest Guy', cursive;
    color: #333;
    scroll-behavior: smooth;
}

a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
    display: inline-block;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #93cfef;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

a:hover {
    color: #ff7f50;
    transform: rotate(10deg) scale(1.1);
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-container {
    text-align: center;
    padding: 20px;
    background: conic-gradient(from 180deg, #ff9190, #ffcd85, #fffb7d);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header a {
    color: #fafafa;
    font-size: 3em;
    transition: transform 0.5s;
}

.header a:hover {
    transform: rotate(360deg);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255,153,0,1) 0%, rgba(255,94,0,1) 50%, rgba(255,204,0,1) 100%);
    padding: 10px 0;
}

.nav-link {
    font-size: 1.2em;
    color: #fff;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.2) translateY(-5px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.unplayed_songs, .current-song {
    padding: 20px;
    margin: 20px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow-anchor: none;
}

.unplayed_song a {
    display: block;
    color: #0066cc;
    font-variant: small-caps;
    margin: 10px 0;
}

.unplayed_song a:hover {
    color: #ff7f50;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.current-song-info {
    display: grid;
    grid-template-areas: ". title title"
                         ". creator creator"
                         "songid score votes";
    gap: 15px;
}

.current-song-info .title {
    grid-area: title;
    font-size: 1.5em;
}

.current-song-info .creator {
    grid-area: creator;
    font-style: italic;
}

.current-song-info .song_id {
    grid-area: songid;
}

.current-song-info .average_score {
    grid-area: score;
}

.current-song-info .total_votes {
    grid-area: votes;
}

.image_scores, .videos, .lyrics {
    margin-top: 20px;
    padding-top: 10px;
}

.image_voting, .image_votes {
    font-variant: small-caps;
    font-feature-settings: "smcp";
    margin: 5px 0;
    color: #333;
}

.ai_song_image img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s ease-in;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.ai_song_image img:hover {
    transform: scale(1.05) rotate(2deg);
    filter: brightness(110%);
}

.video video {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    mix-blend-mode: multiply;
}

.video video:hover {
    transform: scale(1.1) rotateY(10deg);
}

.users-container, .charts-container {
    padding: 20px;
}

.user, .chart-container {
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    transition: transform 0.3s ease, border 0.3s ease-out;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.user:hover, .chart-container:hover {
    transform: translateY(-5px) scale(1.02);
    border: 2px solid #93cfef;
}

.user-link a, .song-link a {
    font-weight: bold;
}

.title {
    font-size: 1.3em;
    margin-bottom: 5px;
}
