/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Orbitron:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #283048, #859398);
    color: #f4f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #ff5722;
    transition: color 0.3s;
}

a:hover {
    color: #e91e63;
    text-shadow: -1px 1px #2196f3, 2px 2px #ffeb3b;
    transform: rotate(360deg) scale(1.2);
    mix-blend-mode: difference;
}

/* Header Styles */
.header-container {
    text-align: center;
    padding: 20px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.header {
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}

.sub-header {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: -10px;
}

/* Navigation Styles */
.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: #222831;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.nav-link {
    color: #f4f4f8;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}

.nav-link:hover {
    color: #00adb5;
    transform: translateY(-5px) scale(1.1);
}

/* Unplayed Songs Section */
.unplayed_songs {
    padding: 20px;
    margin: 20px;
    background: #393e46;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.unplayed_song a {
    display: block;
    padding: 10px;
    background: #00adb5;
    color: #eeeeee;
    border: 2px solid #222831;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
}

.unplayed_song a:hover {
    background: #222831;
    transform: scale(1.05);
}

/* Current Song Section */
.current-song {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: conic-gradient(from 180deg, #00adb5, #393e46, #222831, #393e46, #00adb5);
    padding: 20px;
    border-radius: 15px;
    animation: gradient-move 5s infinite alternate;
}

.current-song-info {
    flex: 1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s;
}

.current-song-info:hover {
    transform: translateY(-10px);
    filter: brightness(1.05);
}

/* Image Scores Section */
.image_scores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding: 20px;
    gap: 15px;
}

.image_scores img {
    width: 100%;
    border-radius: 10%;
    transition: transform 0.5s, filter 0.5s;
    transform: perspective(500px) rotateY(0deg);
}

.image_scores img:hover {
    transform: perspective(500px) rotateY(360deg);
    filter: contrast(120%);
}

/* Video Section */
.videos video {
    width: 95%;
    border: 2px solid #393e46;
    border-radius: 15px;
    transition: border-color 0.3s;
}

.videos video:hover {
    border-color: #00adb5;
}

/* Chart Styles */
.songs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.song-container {
    background: #30475e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    color: white;
    transition: transform 0.3s, background-color 0.3s;
    width: 250px;
}

.song-container:hover {
    transform: scale(1.1);
    background-color: #222831;
}