[package]
name = "twitch_chat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
subd-types = { path = "../subd-types" }

tokio.workspace = true
twitch-irc.workspace = true
anyhow.workspace = true
