<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{{ title }}</title>
</head>
<body>
    <header class="header-container">
        <h1 class="header"><a href="/">AI Top of the Pops</a></h1>
        <h2 class="sub-header">Total AI Songs Created: {{ stats.ai_songs_count }}</h2>
        <h2 class="sub-header">Total AI Song Votes: {{ stats.ai_votes_count }}</h2>
    </header>

    <nav class="nav-container">
        <a class="nav-link" href="/all_songs">Songs</a>
        <a class="nav-link" href="/all_users">Users</a>
        <a class="nav-link" href="/all_users">Music Videos</a>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
