{% extends "base.html" %}

{% block content %}
    <h2>Charts</h2>
    <section class="songs-container">
        {% for song in top_songs %}
            <div class="song-container">
                <div class="title">{{ song.title }}</div>
                <div class="average-score">{{ song.avg_score }}</div>
                <div class="song-link">
                    <a href="/ai_songs/{{ song.song_id }}">
                        {{ song.song_id }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
