{% extends "base.html" %}
{% block content %}
<section class="unplayed-songs">
    <h2>Songs in Playlist ({{ unplayed_songs|length }})</h2>
    {% for song in unplayed_songs %}
    <article class="unplayed-song">
        <h3 class="song-title">
            <a href="/ai_songs/{{ song.song_id }}">
                @{{ song.username }}'s {{ song.title }} - {{ song.song_id }}
            </a>
        </h3>
    </article>
    {% endfor %}
</section>
{% if current_song %}
{% include "current_song.html" %}
{% endif %}
{% endblock %}
