{% extends "base.html" %}
{% block content %}
    <a class="button" href="javascript:window.history.back();">Back</a>
    <div class="grid-container">
        {% for song in songs %}
            <div class="grid-item">
             {{ song.username }}
              <br />
             {{ song.title}}
              <br />
             {{ song.tags }}
              <br />
             {{ song.gpt_description_prompt }}
              <br />
             <audio controls>
                 <source src="/all_songs/{{ song.song_id }}.mp3" type="audio/mpeg">
                 Your browser does not support the audio element.
             </audio>
            <a href="/ai_songs/{{ song.song_id }}">{{ song.song_id }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
