{% extends "base.html" %}
{% block content %}
<section class="songs">
    <h2>Songs</h2>
    {% for song in songs %}
    <article class="song">
        <h3 class="song-title"><a href="/ai_songs/{{ song.song_id }}">{{ song.title }}</a></h3>
        <p class="song-id">Song ID: {{ song.song_id }}</p>
        <p class="song-tags">Tags: {{ song.tags }}</p>
        <p class="song-description">{{ song.gpt_description_prompt }}</p>
        <div class="song-audio">
            <audio controls>
                <source src="/songs/{{ song.song_id }}.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
